*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: #cccccc;
}
            /*navbar*/
.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
      height: 50px;
      width: 113px;  
}

.logo{
    background-image: url(Amazon-Symbol.jpg);
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    background-size: cover;
    border: 4px solid transparent;
    padding: 9px;
}
.logo:hover{
    border: 3px solid white;
}

.nav-address > p{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
    border: 4px solid transparent;
    padding: 9px;
}
.nav-address:hover{
    border: 3px solid white;
}

.icon > p{
    font-size: 1rem;
    color: #ffffff;
    margin-left: 3px;
}

.icon{
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    width: 1007px;
    height: 40px;
    justify-content: space-evenly;
}

select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    height: 40px;
    width: 52px;
    text-align: center;
    border: none;
}

input{
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.a1{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-decoration: none;
}

.nav-signin{
    border: 4px solid transparent;
    padding: 9px;
}
.nav-signin:hover{
    border: 3px solid white;
}

span{
    font-size: 0.7rem;
}

.nav-return{
    border: 4px solid transparent;
    padding: 9px;
}
.nav-return:hover{
    border: 3px solid white;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    border: 4px solid transparent;
    padding: 9px;
}
.nav-cart:hover{
    border: 3px solid white;
}

        /*Panel*/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}   

.panel-all{
    color: #ffffff;
    padding: 8px;
    border: 3px solid transparent;
}
.panel-all:hover{
    border: 2px solid white;
}

.a2{
    text-decoration: none;
    color: #ffffff;
    margin-left: 15px;
    padding: 8px;
    border: 3px solid transparent;
}
.a2:hover{
    border: 2px solid white;
}
.a3{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    border: 3px solid transparent;
}
.a3:hover{
    border: 2px solid white;
}

.panel-option{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 1rem;
    font-weight: 700;
}
        /*hero section*/

.hero-section{
    background-image: url(hero.jpg);
    height: 600px;
    background-size: cover;
    margin-left: 80px;
    margin-right: 80px;
}

/*shop-section*/

.shop-section1{
    display: flex;
    justify-content: space-evenly;

}
.boxA{
    height: 370px;
    width: 24%;
    margin-top: 350px;
    padding: 20px 0px 15px;
    background-color: #ffffff;
}

/*box-1*/

.heading1{
    margin-left: 20px;
}

.pic1{
    width: 185px;
    height: 115px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}
.pic2{
    width: 185px;
    height: 115px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.pic3{
    width: 185px;
    height: 115px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.pic4{
    width: 185px;
    height: 115px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.a4{
    text-decoration: none;
    margin-left: 20px;
    color: #007185;
}
        /*box-2*/

.heading2{
    margin-left: 20px;
}

.img1{
    width: 185px;
    height: 115px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}
.img2{
    width: 185px;
    height: 115px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.img3{
    width: 185px;
    height: 115px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.img4{
    width: 185px;
    height: 115px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.a5{
    text-decoration: none;
    margin-left: 20px;
    color: #007185;
}

           /*box-3*/
          
.heading3{
    margin-left: 20px;
}

.oop1{
    width: 185px;
    height: 115px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}
.oop2{
    width: 185px;
    height: 115px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.oop3{
    width: 185px;
    height: 115px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.oop4{
    width: 185px;
    height: 115px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.a6{
    text-decoration: none;
    margin-left: 20px;
    color: #007185;
}  

         /*box-4*/

.heading4{
    margin-left: 20px;
}

.ggg1{
    width: 185px;
    height: 115px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}
.ggg2{
    width: 185px;
    height: 115px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.ggg3{
    width: 185px;
    height: 115px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.ggg4{
    width: 185px;
    height: 115px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.a7{
    text-decoration: none;
    margin-left: 30px;
    color: #007185;
}

            /*shop-section2*/

.shop-section2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;
}            

.boxB{
    height: 370px;
    width: 24%;
    margin-top: 20px;
    padding: 20px 0px 15px;
    background-color: white;
} 

            /*box-5*/

.heading5{
    margin-left: 20px;
}  

.five{
    width: 350px;
    height: 250px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.a8{
    text-decoration: none;
    margin-left: 30px;
    color: #007185;
}

            /*box-6*/

.heading6{
    margin-left: 20px;
}
            
.kkk1{
    width: 185px;
    height: 115px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}
.kkk2{
    width: 185px;
    height: 115px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.kkk3{
    width: 185px;
    height: 115px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.kkk4{
    width: 185px;
    height: 115px;
    margin-left: 10px;
    margin-bottom: 20px;
}
            
.a9{
    text-decoration: none;
    margin-left: 30px;
    color: #007185;
}  

            /*box-7*/

.heading7{
    margin-left: 20px;
}  

.seven{
    width: 350px;
    height: 250px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.a10{
    text-decoration: none;
    margin-left: 30px;
    color: #007185;
}

            /*box-8*/

.heading8{
    margin-left: 20px;
}  

.eight{
    width: 350px;
    height: 250px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.a11{
    text-decoration: none;
    margin-left: 30px;
    color: #007185;
}

            /*footer*/

footer{
    margin-top: 2%;
}        

        /*panel-1*/

.panel-1{
    background-color: #37475a;   
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a45{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.85rem;
}  

        /*panel-2*/

.panel-2{
    background-color: #222f3d;
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.a12{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
}
ul{
    margin-top: 40px;
}
ul a:hover{
    text-decoration: underline;
}
ul p{
    margin-bottom: 20px;
}

        /*panel-3*/

.panel-3{
    background-color: #222f3d;
    border-top: 0.3px solid white;
    height: 70px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url(Amazon-Symbol.jpg);
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    background-size: cover;
}  

        /*panel-4*/

.panel-4{
    background-color: #0f1111;
    height: 100px;
    padding-top: 5px;
}
.a13{
    color: #cccccc;
    font-size: 0.85rem;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    display: block;
}
.pages a:hover{
    text-decoration: underline;
}
.copyright{
    color: #cccccc;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 10px;
}
        
